/** main.scss **/
@import "susy";
@import "breakpoint";
@import "code.css";
@import "typography.css";

$default: 340px;
$full: 600px;

body {
	@include container(80em);

	min-width: $default;
}

.vcard {
	@include span(80%);
	margin-top: gutter();
	margin-left: gutter();
	margin-right: gutter();

	.fn {
		@include span(3 of 3);
		margin-bottom: 0;

		font-family:"Assembler Regular", sans-serif; font-weight:normal; font-style:normal;
		font-size: 1.5em;
		line-height: 1em;
		@include breakpoint($full) {
			font-size: 2.9em;
			line-height: 1.5em;
		}
	}

	.role {
		@include span(3 of 3 first);

		font-family:"Matrise Pro Regular", monospace; font-weight:normal; font-style:normal;
		text-decoration: none;
		margin-top: 0;
		margin-bottom: 1em;

		font-size: 1.25em;
		@include breakpoint($full) {
			font-size: 2em;
		}
	}

	.photo {
		@include span(1 of 3 first);
		margin-bottom: 3.5%;
		height: 100%;
	}

	p {
		font-size: 1.1em;
		line-height: 1.3em;

		@include span(3 of 3);

		@include breakpoint($full) {
			@include span(2 of 3 last);
			font-size: 1.6em;
		}
	}
	p:first-of-type {
		@include span(2 of 3 last);
		margin-top: 0;
		margin-bottom: 0.5em;
	}
}
