/** main.scss **/
/* line 9, /Users/boris/src/boris.com.au/source/stylesheets/main.scss */
body {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  min-width: 340px; }
  /* line 12, /usr/local/var/rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  body:after {
    content: " ";
    display: block;
    clear: both; }

/* line 15, /Users/boris/src/boris.com.au/source/stylesheets/main.scss */
.vcard {
  width: 80%;
  float: left;
  margin-right: 5.26316%;
  margin-top: 5.26316%;
  margin-left: 5.26316%;
  margin-right: 5.26316%; }
  /* line 21, /Users/boris/src/boris.com.au/source/stylesheets/main.scss */
  .vcard .fn {
    font-size: 1.75em;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5em; }
    @media (min-width: 600px) {
      /* line 21, /Users/boris/src/boris.com.au/source/stylesheets/main.scss */
      .vcard .fn {
        font-size: 2em; } }
  /* line 31, /Users/boris/src/boris.com.au/source/stylesheets/main.scss */
  .vcard .role {
    font-size: 1.25em;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 1em;
    width: 100%;
    float: left;
    margin-right: 7.14286%; }
    @media (min-width: 600px) {
      /* line 31, /Users/boris/src/boris.com.au/source/stylesheets/main.scss */
      .vcard .role {
        font-size: 1.5em; } }
  /* line 44, /Users/boris/src/boris.com.au/source/stylesheets/main.scss */
  .vcard .photo {
    width: 28.57143%;
    float: left;
    margin-right: 7.14286%; }
  /* line 48, /Users/boris/src/boris.com.au/source/stylesheets/main.scss */
  .vcard p {
    font-size: 1.1em;
    line-height: 1.3em;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 600px) {
      /* line 48, /Users/boris/src/boris.com.au/source/stylesheets/main.scss */
      .vcard p {
        width: 64.28571%;
        float: right;
        margin-right: 0;
        font-size: 1.5em; } }
  /* line 59, /Users/boris/src/boris.com.au/source/stylesheets/main.scss */
  .vcard p:first-of-type {
    width: 64.28571%;
    float: right;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0.5em; }
